@font-face {
  font-family: "Rubik Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Rubik-Regular.woff") format("woff"),
  url("../fonts/Rubik-Regular.woff2") format("woff2");
};

body {
  padding: 0;
  margin: 0;
  font-family: "Rubik Regular", sans-serif, Arial;
  font-size: 14px;
  background-color: #d3e5f3;
  box-sizing: border-box;
}

.visually-hidden {
  display: none;
}